#ignore all files
*
!*/

target/
log-reader/bin/
log-reader/obj/
log-writer/bin/
log-writer/obj/
sensor-server/bin/
sensor-server/obj/

#except the following files
!.gitignore

!*.cpp
!*.hpp
!*.c
!*.h
!*.inl

!*.cs
!*.csproj

!*.go
!*.md

!*.json
!*.txt
!LICENSE

!*.pl
!*.py

!*.ini
!*.bat

#except the following folders
